@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sansBold";
  src: url("/fonts/IRANSansX-Bold.woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "sansi";
  src: url("/fonts/IRANSansX-Regular.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: sansi;
  width: 100%;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
.btnActiveRed:active {
  background-color: #d11515 !important;
  transition: background-color 0.4s;
  outline-style: none;
}
.btnActiveRed:focus {
  outline-style: none !important;
}

.footer {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}
.sliderimg {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.btnActive:active {
  background-color: black;
}
textarea {
  outline: none;
  resize: none;
  padding: 10px;
}

textarea::placeholder {
  margin-right: 5px;
}

.rec.rec-arrow {
  background-color: white;
}
/* round buttons on hover */
.rec.rec-arrow:hover {
  background-color: white !important;
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
  visibility: hidden;
}
.swiper-container {
  width: 100%;
}
.swiper-slide {
  text-align: center;
  width: 100%;
}
